:host {
    width: 100%;
    overflow: auto;
}

.add-btn {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1;

    md-icon {
        opacity: 0.87;
    }

    &.breadcrumb {
        bottom: 36px;
    }
}
