md-sidenav-container {
    height: calc(100vh - 96px);

    app-breadcrumb {
        width: 100%;
    }

    .items {
        width: 100%;
        overflow: auto;

        .hidden {
            opacity: .75;
        }
    }
}
