<app-app-bar></app-app-bar>
<app-nav-bar (viewMode)="changeViewMode($event)"></app-nav-bar>
<md-sidenav-container>
    <md-sidenav mode="side"
                opened="true"
                class="sidebar">
        <app-sidebar></app-sidebar>
    </md-sidenav>
    <div fxLayout="column" fxLayoutAlign="space-between start" fxFill>
        <app-explorer [viewMode]="viewMode"></app-explorer>
        <app-breadcrumb></app-breadcrumb>
    </div>
    <md-sidenav mode="side"
                align="end"
                class="preview"
                [opened]="(preview | async).show">
        <app-details [file]="(preview | async).file"></app-details>
    </md-sidenav>
</md-sidenav-container>
