<app-app-bar></app-app-bar>
<app-nav-bar></app-nav-bar>
<md-sidenav-container>
    <md-sidenav mode="side" opened="true">
        <md-nav-list dense>
            <h3 md-subheader>Favorites</h3>
            <a md-list-item
               *ngFor="let favorite of favorites"
               (click)="navigate(favorite.path)">
                <md-icon md-list-icon [fontIcon]="favorite.icon || 'mdi-folder'"></md-icon>
                {{favorite.label}}
            </a>
        </md-nav-list>
    </md-sidenav>
    <div fxLayout="column" fxLayoutAlign="end start" fxFill>
        <div fxFlex class="items">
            <md-nav-list dense>
                <a md-list-item
                   *ngFor="let item of items | async"
                   (click)="onClick(item)"
                   [class.hidden]="item.hidden">
                    <md-icon md-list-icon [fontIcon]="item.icon"></md-icon>
                    {{item.filename}}
                </a>
            </md-nav-list>
        </div>
        <app-breadcrumb></app-breadcrumb>
    </div>
</md-sidenav-container>
