<md-toolbar color="primary">
    <div fxLayout fxLayoutAlign="space-between center" class="container">
        <div>
            <button md-icon-button (click)="navigateBack()">
                <md-icon fontIcon="mdi-chevron-left"></md-icon>
            </button>
            <button md-icon-button (click)="navigateForward()">
                <md-icon fontIcon="mdi-chevron-right"></md-icon>
            </button>
        </div>
        <div>
            <md-button-toggle-group #group="mdButtonToggleGroup"
                                    (change)="changeViewMode($event)">
                <md-button-toggle value="list">
                    <md-icon fontIcon="mdi-view-sequential"></md-icon>
                </md-button-toggle>
                <md-button-toggle value="detailed-list">
                    <md-icon fontIcon="mdi-view-stream"></md-icon>
                </md-button-toggle>
                <md-button-toggle value="grid">
                    <md-icon fontIcon="mdi-view-grid"></md-icon>
                </md-button-toggle>
                <md-button-toggle value="columns">
                    <md-icon fontIcon="mdi-view-column"></md-icon>
                </md-button-toggle>
                <md-button-toggle value="table">
                    <md-icon fontIcon="mdi-view-list"></md-icon>
                </md-button-toggle>
            </md-button-toggle-group>
        </div>
        <div>
            <button md-icon-button (click)="openSettings()">
                <md-icon fontIcon="mdi-settings"></md-icon>
            </button>
        </div>
    </div>
</md-toolbar>
