<h2 md-dialog-title>Settings</h2>
<md-dialog-content>
    <md-card>
        <md-card-title>General</md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item>
                    <h3 md-line>Show Hidden Files</h3>
                    <md-slide-toggle checked="true"></md-slide-toggle>
                </md-list-item>
                <md-list-item>
                    <h3 md-line>Show Breadcrumb</h3>
                    <md-slide-toggle checked="true"></md-slide-toggle>
                </md-list-item>
                <md-list-item>
                    <h3 md-line>Enable Git Integration</h3>
                    <md-slide-toggle checked="true"></md-slide-toggle>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-dialog-content>
